<div class="footer">
  <hr>
  <p><span class="glyphicon glyphicon-star"></span> <a href="http://txt.fliglio.com">txt.fliglio.com</a> <span class="glyphicon glyphicon-star"></span></p>
</div>

<pre>
  Debug Info:
  <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
  $state = {{$state.current.name}}
  $stateParams = {{$stateParams}}
  $state full url = {{ $state.$current.url.source }}
  <!-- $state.$current is not a public api, we are using it to
       display the full url for learning purposes-->
</pre>
